async-lru
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
beautifulsoup4
bs4
Pillow
pytube
opencv-python-headless
uvloop
pymongo>=4.8.0
certifi>=2024.2.2
